,container {
    display: flex; /* flexbox 레이아웃 사용 */
    flex-direction: column; /* 세로방향으로 정렬 */
    
    
}


.middle{
     /* Frame 18 */

    /* 오토레이아웃 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 42px;
    
    width: 1920px;
    height: 1106px;
    
    
    /* 내부 오토레이아웃 */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    
}